@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: 255 255 255;
  --color-background: var(--background);
  --foreground: 37 37 37;
  --color-foreground: var(--foreground);
  --card: 255 255 255;
  --color-card: var(--card);
  --card-foreground: 37 37 37;
  --color-card-foreground: var(--card-foreground);
  --popover: 255 255 255;
  --color-popover: var(--popover);
  --popover-foreground: 37 37 37;
  --color-popover-foreground: var(--popover-foreground);
  --primary: 23 16 54;
  --color-primary: var(--primary);
  --primary-foreground: 255 255 255;
  --color-primary-foreground: var(--primary-foreground);
  --secondary: 247 247 247;
  --color-secondary: var(--secondary);
  --secondary-foreground: 54 54 54;
  --color-secondary-foreground: var(--secondary-foreground);
  --muted: 247 247 247;
  --color-muted: var(--muted);
  --muted-foreground: 232 232 232;
  --color-muted-foreground: var(--muted-foreground);
  --accent: 247 247 247;
  --color-accent: var(--accent);
  --accent-foreground: 54 54 54;
  --color-accent-foreground: var(--accent-foreground);
  --destructive: 255 163 87;
  --color-destructive: var(--destructive);
  --destructive-foreground: 255 163 87;
  --color-destructive-foreground: var(--destructive-foreground);
  --border: 235 235 235;
  --color-border: var(--border);
  --input: 209 207 215;
  --color-input: var(--input);
  --ring: 180 180 180;
  --color-ring: var(--ring);
  --chart-1: 255 191 77;
  --color-chart-1: var(--chart-1);
  --chart-2: 74 180 255;
  --color-chart-2: var(--chart-2);
  --chart-3: 61 99 153;
  --color-chart-3: var(--chart-3);
  --chart-4: 255 234 77;
  --color-chart-4: var(--chart-4);
  --chart-5: 255 215 77;
  --color-chart-5: var(--chart-5);
  --radius: 0.625rem;
  --sidebar: 251 251 251;
  --color-sidebar: var(--sidebar);
  --sidebar-foreground: 37 37 37;
  --color-sidebar-foreground: var(--sidebar-foreground);
  --sidebar-primary: 54 54 54;
  --color-sidebar-primary: var(--sidebar-primary);
  --sidebar-primary-foreground: 251 251 251;
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --sidebar-accent: 247 247 247;
  --color-sidebar-accent: var(--sidebar-accent);
  --sidebar-accent-foreground: 54 54 54;
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --sidebar-border: 235 235 235;
  --color-sidebar-border: var(--sidebar-border);
  --sidebar-ring: 180 180 180;
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: 37 37 37;
  --color-background: var(--background);
  --foreground: 251 251 251;
  --color-foreground: var(--foreground);
  --card: 37 37 37;
  --color-card: var(--card);
  --card-foreground: 251 251 251;
  --color-card-foreground: var(--card-foreground);
  --popover: 37 37 37;
  --color-popover: var(--popover);
  --popover-foreground: 251 251 251;
  --color-popover-foreground: var(--popover-foreground);
  --primary: 255 255 255;
  --color-primary: var(--primary);
  --primary-foreground: 23 16 54;
  --color-primary-foreground: var(--primary-foreground);
  --secondary: 54 54 54;
  --color-secondary: var(--secondary);
  --secondary-foreground: 251 251 251;
  --color-secondary-foreground: var(--secondary-foreground);
  --muted: 54 54 54;
  --color-muted: var(--muted);
  --muted-foreground: 180 180 180;
  --color-muted-foreground: var(--muted-foreground);
  --accent: 54 54 54;
  --color-accent: var(--accent);
  --accent-foreground: 251 251 251;
  --color-accent-foreground: var(--accent-foreground);
  --destructive: 255 163 87;
  --color-destructive: var(--destructive);
  --destructive-foreground: 255 163 87;
  --color-destructive-foreground: var(--destructive-foreground);
  --border: 54 54 54;
  --color-border: var(--border);
  --input: 54 54 54;
  --color-input: var(--input);
  --ring: 112 112 112;
  --color-ring: var(--ring);
  --chart-1: 97 61 153;
  --color-chart-1: var(--chart-1);
  --chart-2: 180 180 255;
  --color-chart-2: var(--chart-2);
  --chart-3: 255 215 77;
  --color-chart-3: var(--chart-3);
  --chart-4: 61 153 255;
  --color-chart-4: var(--chart-4);
  --chart-5: 215 77 255;
  --color-chart-5: var(--chart-5);
  --sidebar: 54 54 54;
  --color-sidebar: var(--sidebar);
  --sidebar-foreground: 251 251 251;
  --color-sidebar-foreground: var(--sidebar-foreground);
  --sidebar-primary: 97 61 153;
  --color-sidebar-primary: var(--sidebar-primary);
  --sidebar-primary-foreground: 251 251 251;
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --sidebar-accent: 54 54 54;
  --color-sidebar-accent: var(--sidebar-accent);
  --sidebar-accent-foreground: 251 251 251;
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --sidebar-border: 54 54 54;
  --color-sidebar-border: var(--sidebar-border);
  --sidebar-ring: 112 112 112;
  --color-sidebar-ring: var(--sidebar-ring);
}
